<div class="back-link mt-4">
  <%= link_to :back, title: "Back" do %>
      <i class="back-icon fa-solid fa-angle-left"></i>
  <% end %>
</div>

<div class="center">
  <!-- user information -->
  <%= user_photo(@user, class: "avatar-dashboard") %>
  <h1><%= @user.first_name.capitalize %></h1>
  <h5 style="font-size: 16px"><%= '@' + @user.username %></h5>
  <!-- until here -->

  <!-- Friend status icon logic -->
  <% if Friendship.between(current_user, @user).nil? %><!-- if no friendship exists -->
    <%= simple_form_for Friendship.new do |f| %><!-- simple form holds add user button -->
      <%= f.input :to_user_id, as: :hidden, input_html: { value: @user.id } %>
      <button type="submit" class="btn-status-friend">
        <i class="fa-solid fa-user-plus"></i>
      </button>
    <% end %>
  <% elsif Friendship.accepted.find_by(to_user: current_user, from_user: @user) || Friendship.accepted.find_by(from_user: current_user, to_user: @user) %>
    <!-- if friendship has been accepted by the current user or by the other user-->
    <i class="fa-solid fa-user-group btn-status-friend" ></i>
  <% elsif Friendship.requested.find_by(to_user: current_user, from_user: @user)%>
    <!-- if friendship has been requested to the current_user, user can accept or deny on user show page -->
    <div class="d-flex justify-content-center align-items-end">
      <%= simple_form_for Friendship.find_by(to_user: current_user, from_user: @user) do |f| %>
        <!-- accept button -->
        <%= f.input :status, as: :hidden, input_html: { value: :accepted } %>
        <button type="submit" class="btn-accept">
          <i class="fa-solid fa-check"></i>
        </button>
      <% end %>
        <!-- reject button -->
      <%= link_to friendship_path(Friendship.find_by(to_user: current_user, from_user: @user)), data: { turbo_method: :delete } do %>
        <button class="btn-decline">
          <i class="fa-solid fa-xmark"></i>
        </button>
      <% end %>
    </div>
  <% elsif Friendship.requested.where(to_user: @user, from_user: current_user)%>
    <!-- if current user made a friend request -->
    <i class="fa-regular fa-hourglass-half btn-status-friend"></i>
  <% end %>
</div>

<div data-controller="user"><!-- tabs with rendered pages for created and voted polls of other users (logic done in user stimulus controller) -->
  <div class="pt-3 d-flex justify-content-center">
    <button data-user-target="createdBtn" class="center button-dash active" data-action="click->user#showCreated">Created</button>
    <button data-user-target="votedBtn" class="center button-dash" data-action="click->user#showVoted">Voted</button>
  </div>

  <div>
    <div data-user-target="created"><%= render partial: "pages/created_polls" %></div>
    <div data-user-target="voted" class="d-none"><%= render partial: "pages/voted_polls" %></div>
  </div>
</div>
