<div class="center">
  <%= user_photo(@user, class: "avatar-dashboard mt-4") %>
  <h1><%= @user.first_name %></h1>
  <h5><%= '@' + @user.username %></h5>

  <% if Friendship.between(current_user, @user).present? %>
    <div class="pill">
      <%= Friendship.between(current_user, @user).status %>
    </div>
  <% else %>
    <%= simple_form_for Friendship.new do |f| %>
      <%= f.input :to_user_id, as: :hidden, input_html: { value: @user.id } %>
      <%= f.submit "Add friend" %>
    <% end %>
  <% end %>
</div>

<div data-controller="user">
  <div class="pt-3 d-flex justify-content-center">
    <button data-user-target="createdBtn" class="center button-dash active" data-action="click->user#showCreated">Created</button>
    <button data-user-target="votedBtn" class="center button-dash" data-action="click->user#showVoted">Voted</button>
  </div>

  <div>
    <div data-user-target="created"><%= render partial: "pages/created_polls" %></div>
    <div data-user-target="voted" class="d-none"><%= render partial: "pages/voted_polls" %></div> %>
  </div>
</div>
