<div class="center">
  <%= user_photo(@user, class: "avatar-dashboard mt-4") %>
  <h1><%= @user.first_name %></h1>
  <h5><%= '@' + @user.username %></h5>

  <% if Friendship.between(current_user, @user).status == 0 %>
    <%= simple_form_for friendship do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: :accepted } %>
      <button type="submit" class="btn btn-primary">
        <i class="fa-solid fa-check" style= "color: #80BAFF"></i>
      </button>
    <% end %>

    <%= simple_form_for friendship do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: :rejected } %>
      <button type="submit" class="btn btn-outline-danger">
        <i class="fa-solid fa-xmark"></i>
      </button>
    <% end %>

  <% elsif Friendship.between(current_user, @user).status == 1 %>
  
  <% elsif Friendship.between(current_user, @user).status == 2 %>
  <% else %>
    <%= simple_form_for Friendship.new do |f| %>
      <%= f.input :to_user_id, as: :hidden, input_html: { value: @user.id } %>
      <%= f.submit "Add friend" %>
    <% end %>
  <% end %>
</div>

<div data-controller="user">
  <div class="pt-3 d-flex justify-content-center">
    <button data-user-target="createdBtn" class="center button-dash active" data-action="click->user#showCreated">Created</button>
    <button data-user-target="votedBtn" class="center button-dash" data-action="click->user#showVoted">Voted</button>
  </div>

  <div>
    <div data-user-target="created"><%= render partial: "pages/created_polls" %></div>
    <div data-user-target="voted" class="d-none"><%= render partial: "pages/voted_polls" %></div> %>
  </div>
</div>
