<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

  <div class="sidebar">
    <button class="navbar-toggler" type="button" onclick="openNav()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= render "shared/sidebar" %>
  </div>

  <%= form_with url: polls_path, method: :get, class: "d-flex", id: "search-form" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search by category..."
    %>
      <%= button_tag( :class => "bnt") do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
  <% end %>

    <div class="nav-item dropdown">
      <%= image_tag "https://avatarfiles.alphacoders.com/266/266629.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "My Profile", dashboard_path, class: "dropdown-item" %>
        <%= link_to "Favourite Polls", dashboard_path, class: "dropdown-item" %>
        <%= link_to "Voted Polls", dashboard_path, class: "dropdown-item" %>
        <%= link_to "FAQ", "#", class: "dropdown-item" %>
        <%= link_to "Terms & Conditions", "#", class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </div>
    </div>

  </div>
</div>
