<% show_requested_options ||= false %>
<% show_delete ||= false %>

<div class="user-card d-flex justify-content-between mb-3">
  <% if current_user == friendship.from_user %>
    <div class="d-flex">
      <%= link_to user_path(friendship.to_user) do %>
        <%= user_photo(friendship.to_user, class: "avatar-friends") %>
      <% end %>
      <div class="flex-column ms-2">
        <h3><%= link_to friendship.to_user.first_name, user_path(friendship.to_user), class: "text-dark" %></h3>
        <h4>@<%= link_to friendship.to_user.username, user_path(friendship.to_user), class: "text-dark" %></h4>
      </div>
    </div>
    <% if show_delete %>
      <%= link_to friendship_path(friendship), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="fa-solid fa-xmark" style="color: #B9B9B9"></i>
      <% end %>
    <% end %>
  <% else %>
    <div class="d-flex">
      <%= link_to user_path(friendship.from_user) do %>
        <%= user_photo(friendship.from_user, class: "avatar-friends") %>
      <% end %>
      <div class="flex-column ms-2">
        <h3><%= link_to friendship.from_user.first_name, user_path(friendship.from_user), class: "text-dark" %></h3>
        <h4>@<%= link_to friendship.from_user.username, user_path(friendship.from_user), class: "text-dark" %></h4>
      </div>
    </div>
    <% if show_delete %>
      <%= link_to friendship_path(friendship), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="fa-solid fa-xmark" style="color: #B9B9B9"></i>
      <% end %>
    <% end %>
  <% end %>

  <% if show_requested_options %>
  <div class="d-flex">
      <%= simple_form_for friendship do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: :accepted } %>
        <button type="submit" class="btn-accept">
          <i class="fa-solid fa-check"></i>
        </button>
      <% end %>

      <%= simple_form_for friendship do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: :rejected } %>
        <button type="submit" class="btn-decline">
          <i class="fa-solid fa-xmark"></i>
        </button>
      <% end %>
    </div>
  <% end %>
</div>
