<% if @user.polls.exists? %>
    <div class="grid-container">
      <% @user.polls.each do |poll| %>
        <div class="card-container">
            <div class="my-poll-card">
            <p class="my-poll-show">My poll</p>
            <div class="px-5 pt-3">
              <div class="card-header"><p style="margin-left: 12px"><%= poll.question %></p></div>
              <% unless poll.votes.pluck(:user_id).include?(current_user.id)%>
              <div class="answers-card">
                <%= link_to poll_votes_path(poll,chosen_option:poll.first_option ), data: {turbo_method: :post} do %>
                  <div class="button-answer">
                    <p style="margin-top: -5px"><%= poll.first_option%></p>
                  </div >
                <% end %>
                <%= link_to poll_votes_path(poll,chosen_option:poll.second_option), data: {turbo_method: :post} do %>
                  <div class="button-answer">
                    <p style="margin-top: -5px"><%= poll.second_option %></p>
                  </div>
                <% end %>
              </div>
              <% else %>
              <%= link_to poll_path(poll) do %>
                  <div>
                    <p class="ms-3" style="color: #0075FF">See Results</p>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
    </div>
      <% end %>
    <% else %>
      <p>Make your first poll <%= link_to "here", new_pigeon_path %>.</p>
    <% end %>
