
<div class="center">
  <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, class: "avatar-dashboard" %>
  <% else %>

    <%= image_tag "https://cdn-icons-png.flaticon.com/512/2119/2119043.png", class: "avatar-dashboard" %>

  <% end %>
  <h1><%= @user.first_name %></h1>
  <h5><%= '@' + @user.username %></h5>
  <div>
    <p><%= link_to "Edit Profile", edit_user_registration_path, style: "color: #80BAFF" %></p>
  </div>
</div>

<div data-controller="dashboard">
  <div class="pt-3 d-flex justify-content-around">
    <button data-dashboard-target="createdBtn" class="center button-dash active" data-action="click->dashboard#showCreated">Created</button>
    <button data-dashboard-target="votedBtn" class="center button-dash" data-action="click->dashboard#showVoted">Voted</button>
    <button data-dashboard-target="savedBtn" class="center button-dash" data-action="click->dashboard#showSaved">Saved</button>
  </div>

  <div>
    <div data-dashboard-target="created"><%= render "my_polls" %></div>
    <div data-dashboard-target="voted" class="d-none"><%= render "voted_polls" %></div>
    <div data-dashboard-target="saved" class="d-none"><%= render "favorite_polls" %></div>
  </div>
</div>
