<%= stylesheet_link_tag 'home' %>

<div class="home-container d-flex flex-column" data-controller="home">
  <div id="animation">
    <%= video_tag("https://res.cloudinary.com/dethx39b9/video/upload/v1678873905/animation_cxn8oh.mp4", data: { home_target: "video" }, width: '100%') %>
  </div>

  <div class="home d-flex flex-column" data-home-target="controls">
    <div class="text-center mt-4">
      <img class= "logo" src="<%= asset_path('logo_publicpoll.png') %>"/>
    </div>

    <div class="align-items-center flex-grow-1 d-flex flex-column justify-content-end">
      <div class="text-white text-center">
        <% if user_signed_in? %>
          <h6>Welcome back, <br> <%= current_user.first_name.capitalize %></h6>
        <% else %>
          <h6>Welcome to Public Poll,<br> a pool of opinions</h6>
        <% end %>
      </div>

      <% unless user_signed_in? %>
        <%= link_to 'Dive in!', trending_path,
          data: { action: "click->home#diveIn", home_target: "button" },
          class: 'button-home mt-3 mb-1 text-center px-4 py-2' %>

        <%= link_to 'Log in / Sign up', new_user_session_path,
          class: 'text-white mt-3 mb-4' %>
      <% else %>
        <%= link_to 'Dive in!', trending_path,
          data: { action: "click->home#diveIn", home_target: "button" },
          class: 'button-home mt-3 mb-4 text-center px-4 py-2' %>
      <% end %>
    </div>
  </div>
</div>
