<%= stylesheet_link_tag 'home' %>

<div class="bg-blue">
<%= form_with url: polls_path, method: :get, class: "d-flex", id: "search-form" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Category, keyword...",
    autocomplete: "off"
  %>
  <%= button_tag(class: "button-search-bar", name: nil) do %>
    <div class="button-container">
      <i class="navbar-icon fas fa-search"></i>
    </div>
  <% end %>
<% end %>

<div class="px-5 py-3" id="search-history">
  <% @searches.each do |search| %>
    <div class="row">
      <div class="col-10 p-2">
        <%= link_to search.query, polls_path(query: search.query)%>
      </div>

      <div class="col-2 p-2 text-center">
        <%= link_to delete_search_path(search.id), data: { turbo_method: :delete } do %>
          <i class="fa-solid fa-xmark"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div id="close-search">
  <%= link_to :back, title: "Close" do %>
    <i class="fa-solid fa-xmark"></i>
  <% end %>
</div>
