<div class="bar-chart">
  <div class="bar-guide">
    <div class="bar d-flex" style="width: <%= poll.first_percentage %>%">
      <span class="text-white m-3 option-text"><%= poll.first_option %></span>
    </div>
  </div>
  <div class="bar-guide">
    <div class="bar d-flex" style="width: <%= poll.second_percentage %>%">
      <span class="text-white m-3 option-text"><%= poll.second_option %></span>
    </div>
  </div>
</div>

<%= render partial: 'polls/small_info', locals: { poll: poll } %>
