<div class="bar-chart">
  <% if (poll.first_percentage >= 93) || (poll.second_percentage >= 93)%>
    <div class="bar-guide">
      <div class="bar d-flex" style="width: <%= poll.first_percentage %>%">
        <span class="text-white m-3 option-text"><%= poll.first_option %></span>
      </div>
    </div>
    <div class="bar-guide">
      <div class="bar d-flex" style="width: <%= poll.second_percentage %>%">
        <span class="text-white m-3 option-text"><%= poll.second_option %></span>
      </div>
    </div>
  <% else %>
    <div class="bar-guide">
      <div class="bar-not-full d-flex" style="width: <%= poll.first_percentage %>%">
        <span class="text-white m-3 option-text"><%= poll.first_option %></span>
      </div>
    </div>
    <div class="bar-guide">
      <div class="bar-not-full d-flex" style="width: <%= poll.second_percentage %>%">
        <span class="text-white m-3 option-text"><%= poll.second_option %></span>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: 'polls/small_info', locals: { poll: poll } %>
