
<div class="chart-text">
  <p style="color: #B9B9B9">
    <%= "You voted #{@user_votes} like #{@same}% of people" %>
  </p>
</div>

<div class="bar-chart">
  <% if (@poll.first_percentage >= 93) || (@poll.second_percentage >= 93)%>
    <div class="bar-guide">
      <div class="bar d-flex" style="width: <%= @poll.first_percentage %>%">
        <span class="text-white m-3 option-text"><%= @poll.first_option %></span>
      </div>
    </div>
    <div class="bar-guide">
      <div class="bar d-flex" style="width: <%= @poll.second_percentage %>%">
        <span class="text-white m-3 option-text"><%= @poll.second_option %></span>
      </div>
    </div>
  <% else %>
    <div class="bar-guide">
      <div class="bar-not-full d-flex" style="width: <%= @poll.first_percentage %>%">
        <span class="text-white m-3 option-text"><%= @poll.first_option %></span>
      </div>
    </div>
    <div class="bar-guide">
      <div class="bar-not-full d-flex" style="width: <%= @poll.second_percentage %>%">
        <span class="text-white m-3 option-text"><%= @poll.second_option %></span>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-between">
  <%= link_to category_path(@poll.category.id) do %>
    <i class="pe-3 fa-solid fa-<%= @poll.category.icon_class%>" style="color: #0075FF"></i>
  <% end %>
  <h4 style="color: #B9B9B9">total votes: <%= @poll.votes_count %></h4>
</div>
