
<div class="chart-text">
  <p style="color: #B9B9B9">
    <%= "You voted #{@user_votes} like #{@same}% of people" %>
  </p>
</div>

<div class="bar-chart">
  <div class="bar-guide">
    <div class="bar" style="width: <%= @poll.first_percentage %>%">
      <span class="text-white m-3"><%= @poll.first_option %></span>
    </div>
  </div>
  <div class="bar-guide">
    <div class="bar" style="width: <%= @poll.second_percentage %>%">
      <span class="text-white m-3"><%= @poll.second_option %></span>
    </div>
  </div>
</div>

<h4 class="d-flex justify-content-end" style="color: #B9B9B9">total votes: <%= @poll.votes_count %></h4>
