<% show_photo ||= false %>
<% show_buttons ||= false %>
<% show_my_poll ||= false %>

<div class="card-container" data-controller="poll">
  <% if show_photo %>
    <div class="user-card">
      <% if poll.user.photo.attached? %>
        <%= cl_image_tag poll.user.photo.key, class: "poll-avatar" %>
      <% else %>
        <%= image_tag "https://cdn-icons-png.flaticon.com/512/2119/2119043.png", class: "poll-avatar" %>
      <% end %>
      <h4 class="poll-username"><%= poll.user.username %></h4>
    </div>
  <% end %>
  <div class="poll-card">

    <% unless poll.user == current_user %>
      <div class="card-favourite">
        <% if poll.bookmarked_by_user?(current_user) %>
          <%= link_to bookmark_path(poll.bookmark_by_user(current_user)), data: { turbo_method: :delete } do %>
            <i class="bookmark-icon fa-solid fa-star" style="color: #0075FF"></i>
          <% end %>
        <% else %>
          <%= link_to poll_bookmarks_path(poll), data: { turbo_method: :post } do %>
            <i class="bookmark-icon fa-regular fa-star" style="color: #0075FF"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if poll.user == current_user %>
        <% if show_my_poll %>
      <div class="d-flex justify-content-between">
          <p class="my-poll-show">My poll</p>
          <%= link_to poll_path(poll), data: { turbo_method: :delete, action: "click->poll#delete" } do %>
            <i class="fa-solid fa-xmark" style="color: #D9D9D9"></i>
          <% end %>
        </div>
      <% else %>
        <div class="d-flex justify-content-end">
        <%= link_to poll_path(poll), data: { turbo_method: :delete, action: "click->poll#delete" } do %>
          <i class="fa-solid fa-xmark" style="color: #D9D9D9"></i>
        <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="card-header"><p style="margin-left: 12px"><%= poll.question %></p></div>

    <% unless poll.votes.pluck(:user_id).include?(current_user.id)%>
      <div class="answers-card">
        <%= link_to poll_votes_path(poll, chosen_option: poll.first_option ), data: {turbo_method: :post} do %>
          <div class="button-answer">
            <p style="margin-top: -5px"><%= poll.first_option%></p>
          </div >
        <% end %>

        <%= link_to poll_votes_path(poll, chosen_option: poll.second_option), data: {turbo_method: :post} do %>
          <div class="button-answer">
            <p style="margin-top: -5px"><%= poll.second_option %></p>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= link_to poll_path(poll) do %>
        <div>
          <p class="ms-3" style="color: #0075FF">See Results</p>
        </div>
      <% end %>
    <% end %>
    <h4 style="margin-top: 10px; color: #80BAFF; text-align: right"><%= poll.votes.count %> votes</h4>
  </div>

  <% if show_buttons %>
    <div class="button-section">
      <button class="button-circle fa-solid fa-star" style=" margin-right: 19px"></button>
      <a href="whatsapp://send?text=What do you think about this poll? www.publicpoll.me/polls/<%= poll.id %>" data-action="share/whatsapp/share"target="_blank"><button class="button-circle fa-solid fa-share" style=" margin-right: 19px"></button></a>
      <button class="button-circle fa-solid fa-comment-dots"></button>
    </div>
  <% end %>
</div>
