<div class="chart-text">
  <p style="color: #D9D9D9">
    <%= "You voted #{@user_votes} like #{@same}% of people" %>
  </p>
</div>

<div class="bar-chart">
  <div class="bar-guide">
    <div class="bar" style="width: <%= @poll.first_percentage %>%">
      <span class="text-white m-3"><%= @poll.first_option %></span>
    </div>
  </div>
  <div class="bar-guide">
    <div class="bar" style="width: <%= @poll.second_percentage %>%">
      <span class="text-white m-3"><%= @poll.second_option %></span>
    </div>
  </div>
</div>

<p class="total-votes d-flex justify-content-end pe-3">Total votes: <%= @poll.total_votes %></p>
