<!-- defining locals passed when rendered as true if passed or false -->
<% show_photo ||= false %>
<% show_buttons ||= false %>
<% show_my_poll ||= false %>

<div class="card-container" data-controller="poll" data-poll-add-url-value="<%= poll_bookmarks_path(poll) %>">
  <% if show_photo %> <!-- being passed as a local to show username and photos on index, trending, categories -->
    <div class="user-card">
      <%= user_photo(poll.user, class: "poll-avatar") %>

      <% if poll.user == current_user %> <!-- logic making the username a link to either the dashboard, if you press on your profile, or to the user's profile -->
        <h4 class="poll-username"><%= link_to poll.user.username, dashboard_path, class: "text-dark" %></h4>
      <% else %>
        <h4 class="poll-username"><%= link_to poll.user.username, user_path(poll.user), class: "text-dark" %></h4>
      <% end %>
    </div>
  <% end %>

  <div class="poll-card">
    <% unless poll.user == current_user || !user_signed_in? %> <!-- logic hiding favorite button if user not signed in -->
      <div class="card-favourite">
        <% if poll.bookmarked_by_user?(current_user) %> <!-- nested logic displaying whether the poll is bookmarked or not -->
          <%= link_to bookmark_path(poll.bookmark_by_user(current_user)), data: { turbo_method: :delete, action: "click->poll#toggleBookmark" }, class: "py-2 ps-3" do %>
            <i class="icon-favourite bookmark-icon fa-solid fa-star"></i><!-- bookmarked -->
          <% end %>
        <% else %>
          <%= link_to poll_bookmarks_path(poll), data: { turbo_method: :post, action: "click->poll#toggleBookmark" }, class: "py-2 ps-3" do %>
            <i class="icon-favourite bookmark-icon fa-regular fa-star"></i><!-- not bookmarked -->
          <% end %>
        <% end %>
      </div>
    <% end %>


    <% if show_my_poll %> <!-- being passed as a local to show my poll tag and delete button on index, trending, categories -->
      <% if poll.user == current_user %><!-- showing custom actions for own polls -->
        <div class="d-flex justify-content-between mb-3">
          <p class="my-poll-show">My poll</p><!-- my poll tag -->
          <%= link_to poll_path(poll), data: { turbo_method: :delete, action: "click->poll#delete" } do %>
            <i class="fa-solid fa-xmark" style="color: #B9B9B9"></i>
          <% end %>
        </div>
      <% end %>
    <% else %><!-- if my poll but not showing my poll tag, delete button is still visible -->
      <% if poll.user == current_user %>
        <div class="d-flex justify-content-end">
          <%= link_to poll_path(poll), data: { turbo_method: :delete, action: "click->poll#delete" } do %>
            <i class="fa-solid fa-xmark" style="color: #B9B9B9"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>


    <div class="card-header">
      <% if user_signed_in? && current_user.voted?(poll) %>
        <p><%= link_to poll.question, poll_path(poll), class: "text-dark", rows: '2', style: "word-wrap: break-word;" %></p><!-- Main question as a link to poll show -->
      <% end %>
    </div>
    <% unless user_signed_in? && current_user.voted?(poll) %><!-- unless user is signed in and has voted, both options will appear able to click -->
      <p rows= "2", style="word-wrap: break-word;"><%= poll.question %></p><!-- Main question if not voted or not signed in (not a link)-->
      <div class="answers-card d-flex flex-column" id="<%= dom_id(poll) %>">
        <%= link_to poll_votes_path(poll, chosen_option: poll.first_option ), data: {turbo_method: :post, remote: true} do %>
          <div class="button-answer">
            <i class="fa-regular fa-circle m-3"></i>
            <%= poll.first_option %><!-- first option button -->
          </div >
        <% end %>

        <%= link_to poll_votes_path(poll, chosen_option: poll.second_option), data: {turbo_method: :post, remote: true} do %>
          <div class="button-answer">
            <i class="fa-regular fa-circle m-3"></i>
            <%= poll.second_option %><!-- second option button -->
          </div>
        <% end %>

        <%= render partial: 'polls/small_info', locals: { poll: poll } %>
      </div>
    <% else %><!-- if user is signed in and has voted, a link to poll show will appear as "See Results" -->
      <div data-controller="live-chart" data-url="<%= live_index_poll_path(poll) %>">
        <%= render partial: 'polls/chart', locals: { poll: poll } %>
      </div>
    <% end %>
  </div>
</div>

<% if show_buttons %><!-- being passed as a local to show comment and share buttons on index, trending, categories -->
  <%= render partial: 'polls/bottom_buttons', locals: { poll: poll } %>
<% end %>
