<h2 class="mt-4">New poll</h2>

<div class="d-flex flex-column align-items-center justify-content-center mt-3" >
  <%= simple_form_for @poll do |f| %>
    <div class="form-inputs">
      <%= f.label :"Category *", class: "category-label" %>
      <%= f.collection_select :category_id, Category.all, :id, :title, { prompt: 'Select category',  }, { class: 'form-control category-field' } %>
      <%= f.input :question, placeholder: 'Your question' %>
      <%= f.input :first_option, placeholder: 'Option 1' %>
      <%= f.input :second_option, placeholder: 'Option 2' %>
      <div class="text-center">
        <%= f.submit class: 'button-blue mt-2' %>
      </div>
    </div>
  <% end %>
</div>
