<div class="back-link mt-4">
  <%= link_to :back, title: "Back" do %>
      <i class="back-icon fa-solid fa-angle-left"></i>
  <% end %>
  <h2 class="page-title mb-0">New poll</h2>
</div>

<div class="d-flex flex-column align-items-center justify-content-center mt-5" >
  <%= simple_form_for @poll do |f| %>
    <div class="form-inputs">
      <%= f.label :"Category *", class: "category-label" %>
      <%= f.collection_select :category_id, Category.all, :id, :title, { prompt: 'Select category',  }, { class: 'form-control category-field' } %>
      <%= f.input :question, placeholder: 'Your question', maxlength: '50' %>
      <%= f.input :first_option, placeholder: 'Option 1', maxlength: '24' %>
      <%= f.input :second_option, placeholder: 'Option 2', maxlength: '24' %>
      <%= f.input :private %>
      <div class="text-center">
        <%= f.submit class: 'button-blue mt-2' %>
      </div>
    </div>
  <% end %>
</div>
