<h1>New poll</h1>

<div class="h-100 green-bg">
  <%= simple_form_for @poll do |f| %>
    <%= f.label :"Category *" %>
    <%= f.collection_select :category_id, Category.all, :id, :title, { prompt: 'Select category',  }, { class: 'form-control' } %>
    <%= f.input :question, placeholder: 'Your question' %>
    <%= f.input :first_option, placeholder: 'Option 1' %>
    <%= f.input :second_option, placeholder: 'Option 2' %>
    <%= f.submit class: 'button-green' %>
  <% end %>
</div>
