<div class="back-link mt-4">
  <%= link_to :back, title: "Back" do %>
      <i class="back-icon fa-solid fa-angle-left"></i>
  <% end %>
</div>

<div class="chart-title mb-4">
  <h3 rows='2', style="word-wrap: break-word;" ><%= @poll.question %></h3><!-- poll title -->
</div>

<div class="d-flex justify-content-between">
  <div class="user-card align">
    <%= user_photo(@poll.user, class: "poll-avatar") %>

    <% if @poll.user == current_user %> <!-- logic making the username a link to either the dashboard, if you press on your profile, or to the user's profile -->
      <h4 class="poll-username"><%= link_to @poll.user.username, dashboard_path, class: "text-dark" %></h4>
    <% else %>
      <h4 class="poll-username"><%= link_to @poll.user.username, user_path(@poll.user), class: "text-dark" %></h4>
    <% end %>
  </div>

  <div class="d-flex justify-content-end align-items-center pb-2">
    <h4 id="time-ago">
      <%= time_ago_in_words(@poll.created_at) %> ago
    </h4>
  </div>
</div>

<% unless @poll.votes.pluck(:user_id).include?(current_user.id) %>
  <!-- unless the user has already voted, links to vote will be available -->
  <%= link_to @poll.first_option, poll_votes_path(@poll, chosen_option: @poll.first_option), data: {turbo_method: :post}  %><!-- option 1 -->
  <%= link_to @poll.second_option, poll_votes_path(@poll, chosen_option: @poll.second_option), data: {turbo_method: :post}  %><!-- option 2 -->
<% end %>


<% if @poll.votes.pluck(:user_id).include?(current_user.id) %>
  <!-- if user has already voted, a chart will be displayed with the results -->
  <div class="category-text my-poll-card" data-controller="live-chart" data-url="<%= live_poll_path(@poll) %>">
    <%= render partial: 'polls/poll_card' %>
  </div>

  <div class="d-flex justify-content-end" style="margin-top: 10px;">
    <div class="button-circle text-decoration-none d-flex justify-content-center align-items-center ">
      <i class="fa-solid fa-qrcode" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"></i>
    </div>
  </div>
  <h3 class="mt-4 mb-3" style="text-align: center; color: #B9B9B9">Comments</h3>
    <div class="comments-container">
      <% @poll.votes.each do |v| %><!-- iterating through all votes from the current poll -->
        <% v.comments.each do |c| %><!-- iterating through all comments of each vote -->
          <div class="user-card d-flex justify-content-space-between">
            <div class="d-flex">
              <% if c.user == current_user %><!-- if user selects their own name, they will be directed to the dashboard -->
                <%= link_to dashboard_path do %>
                  <%= user_photo(c.user, class: "poll-avatar") %><!-- helper defining user photo -->
                <% end %>
                <h4 class="poll-username"><%= link_to c.user.username, dashboard_path, class: "text-dark" %></h4>
              <% else %><!-- if they select other names, they will be directed to the user show -->
                <%= link_to user_path(c.user) do %>
                  <%= user_photo(c.user, class: "poll-avatar") %><!-- helper defining user photo -->
                <% end %>
                <h4 class="poll-username"><%= link_to c.user.username, user_path(c.user), class: "text-dark" %></h4>
              <% end %>
            </div>
            <div class="comment-time">
              <h4 class="poll-username" style="color: #B9B9B9"><%= time_ago_in_words(c.created_at) %> ago</h4>
            </div>
          </div>
        <div class="card-header"><p><%= c.content %></p>
        </div>
        <hr>
      <% end %>
    <% end %>
  </div>


  <%= simple_form_for [@your_vote, @comment] do |f| %><!-- adding a new comment -->
    <div class="comment-section d-flex flex-column mb-5">
        <%= f.input :content, as: :text, placeholder: 'Write a comment', label: false, input_html: { class: "form-comment w-100", data: { controller: "textarea-autogrow" } } %>
        <%= f.button :submit, "Comment", class:"button-comment align-self-end", id: "comments"  %>
    </div>
    <% end %>
<% end %>

<div class="offcanvas offcanvas-bottom h-75 d-flex align-items-center" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="canvas-elements">
    <div class="offcanvas-body small">
      <div class="qr-code-container pt-3">
        <%= @svg.html_safe %>
      </div>
    </div>
  </div>
  <div id="close-search">
    <button type="button" class="btn button-white" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
  </div>
</div>
