<div class="back-link mt-4">
  <%= link_to :back, title: "Back" do %>
      <i class="back-icon fa-solid fa-angle-left"></i>
  <% end %>
</div>

<div class="chart-title">
  <h3><%= @poll.question %></h3><!-- poll title -->
</div>

<% if @poll.user == current_user %><!-- if own poll, button allowing delete -->
  <%= link_to "Delete", poll_path(@poll), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>

<% unless @poll.votes.pluck(:user_id).include?(current_user.id) %>
  <!-- unless the user has already voted, links to vote will be available -->
  <%= link_to @poll.first_option, poll_votes_path(@poll, chosen_option: @poll.first_option), data: {turbo_method: :post}  %><!-- option 1 -->
  <%= link_to @poll.second_option, poll_votes_path(@poll, chosen_option: @poll.second_option), data: {turbo_method: :post}  %><!-- option 2 -->
<% end %>

<% if @poll.votes.pluck(:user_id).include?(current_user.id) %>
  <!-- if user has already voted, a chart will be displayed with the results -->
  <div class="category-text my-poll-card" data-controller="live-chart" data-url="<%= live_poll_path(@poll) %>">
    <%= render partial: 'polls/poll_card' %>
  </div>

  <h3 class="pt-4" style="text-align: center; color: #B9B9B9">Comments</h3>
    <div class="comments-container">
      <% @poll.votes.each do |v| %><!-- iterating through all votes from the current poll -->
        <% v.comments.each do |c| %><!-- iterating through all comments of each vote -->
          <div class="user-card d-flex justify-content-space-between">
            <div class="d-flex">
              <%= user_photo(c.user, class: "poll-avatar") %><!-- helper defining user photo -->
              <% if c.user == current_user %><!-- if user selects their own name, they will be directed to the dashboard -->
                <h4 class="poll-username"><%= link_to c.user.username, dashboard_path, class: "text-dark" %></h4>
              <% else %><!-- if they select other names, they will be directed to the user show -->
                <h4 class="poll-username"><%= link_to c.user.username, user_path(c.user), class: "text-dark" %></h4>
              <% end %>
            </div>
            <div class="comment-time">
              <h4 class="poll-username" style="color: #B9B9B9"><%= time_ago_in_words(c.created_at) %></h4>
            </div>
          </div>
        <div class="card-header"><p><%= c.content %></p>
        </div>
        <hr>
      <% end %>
    <% end %>
  </div>

<div class="pb-5">
  <%= simple_form_for [@your_vote, @comment] do |f| %><!-- adding a new comment -->
    <div class="comment-section d-flex flex-column mb-5">
        <%= f.input :content, as: :text, placeholder: 'Write a comment', label: false, input_html: { class: "form-comment w-100", data: { controller: "textarea-autogrow" } } %>
        <%= f.button :submit, "Comment", class:"button-comment align-self-end", id: "comments"  %>
    </div>
   <% end %>
 </div>
<% end %>
