<%= link_to "< Back", :back %>
<h1><%= @poll.question %></h1>
<% if @poll.user == current_user %>
  <%= link_to "Delete", poll_path(@poll), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>

<% unless @poll.votes.pluck(:user_id).include?(current_user.id) %>
  <%= link_to @poll.first_option, poll_votes_path(@poll,chosen_option: @poll.first_option), data: {turbo_method: :post}  %>
  <%= link_to @poll.second_option, poll_votes_path(@poll,chosen_option: @poll.second_option), data: {turbo_method: :post}  %>
<% end %>

<% if @poll.votes.pluck(:user_id).include?(current_user.id) %>
  <h2>Results</h2>
  <%= bar_chart [[@poll.first_option,@first_percentage],[@poll.second_option,@second_percentage]], min: "0", max: "100", colors: ["#0075FF", "#0075FF"], title: "You voted #{@user_votes} like #{@same}% of people", library: { scales: { x: { ticks: { display: false } } } } %>
  <p>Total votes: <%= @total_votes_count.to_i %></p>

  <h2>Comments</h2>
  <ul>
    <% @poll.votes.each do |v| %>
        <% v.comments.each do |c| %>
          <li><%= c.content %></li>
      <% end %>
    <% end %>
  </ul>

  <h2>Add a Comment</h2>
  <%= simple_form_for [@your_vote, @comment] do |f| %>
      <strong><%= f.input :content %></strong>
      <%= f.submit %>
  <% end %>
<% end %>
