<%= link_to "< Back", :back %>
<div class="chart-title">
  <h3><%= @poll.question %></h3>
</div>

<% if @poll.user == current_user %>
  <%= link_to "Delete", poll_path(@poll), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>

<% unless @poll.votes.pluck(:user_id).include?(current_user.id) %>
  <%= link_to @poll.first_option, poll_votes_path(@poll,chosen_option: @poll.first_option), data: {turbo_method: :post}  %>
  <%= link_to @poll.second_option, poll_votes_path(@poll,chosen_option: @poll.second_option), data: {turbo_method: :post}  %>
<% end %>

<% if @poll.votes.pluck(:user_id).include?(current_user.id) %>
  <div class="category-text my-poll-card">
  <div class="chart-text">
    <p style="color: #D9D9D9"><%= "You voted #{@user_votes} like #{@same}% of people" %></p>
  </div>
    <div class="bar-chart">
      <div class="bar-guide">
        <div class="bar" style="width: <%= @first_percentage %>%">
          <span class="text-white p-2"><%= @poll.first_option %></span>
        </div>
      </div>
      <div class="bar-guide">
        <div class="bar mt-2" style="width: <%= @second_percentage %>%">
          <span class="text-white p-2"><%= @poll.second_option %></span>
        </div>
      </div>
    </div>
    <p class="total-votes d-flex justify-content-end pe-3">Total votes: <%= @total_votes_count.to_i %></p>
  </div>


  <h3 class="pt-4" style="text-align: center">Comments</h3>
    <div class="comments-container">
      <% @poll.votes.each do |v| %>
          <% v.comments.each do |c| %>

              <div class="user-card">
                      <% if c.user.photo.attached? %>
                        <%= cl_image_tag c.user.photo.key, class: "poll-avatar" %>
                      <% else %>
                        <%= image_tag "https://cdn-icons-png.flaticon.com/512/2119/2119043.png", class: "poll-avatar" %>
                      <% end %>
                <h4 class="poll-username"><%= c.user.username %></h4>
                <h4 class="poll-username"><%= c.created_at.strftime("%d %B, %Y") %></h4>
              </div>
                <div class="card-header"><p style="margin-left: 12px"><%= c.content %></p></div>
<hr>
        <% end %>
    <% end %>

<div class="pb-5">
  <%= simple_form_for [@your_vote, @comment] do |f| %>
    <div class="comment-section">
        <strong><%= f.input_field :content, placeholder: 'Write a comment', class:"form-comment" %></strong>
        <%= f.button :submit, "Comment", class:"button-comment" %>
      </div>
    <% end %>
  <% end %>
</div>
