<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <title>PublicPoll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <div class="page-container">
      <% if params[:action] == "dashboard"%>
        <%= render "shared/navbar" %>
      <% end %>

      <%= render "shared/flashes" %>

      <div id="main-content">
        <%= yield %>
      </div>
    </div>

    <% if params[:action] != "home" && params[:action] != "search" %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
